body {
  background-color: black;
}

h1 {
  color: red;
}

div.container {
  height: 200px;
  width: 200px;
  background-color: brown;
  position: relative;
  top: 300px;
  left: 400px;
  
}

div.box {
  height: 50px;
  width: 50px;
  display: inline-block;
}

div#circle-1 {
  background-color: chartreuse;
  top: 40px;
}

div#circle-2 {
  background-color: white;
  position: relative;
  top: 30px;
}

div#circle-3 {
  background-color: blue;
}

h1 {
  text-align: center;
  position: relative;
  top: 375px;
}
